<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/church.svg" />
    <title>Churches</title>
    <link rel="stylesheet" href="../scss/churches.scss" />
    <script src="../views/churches.js" type="module" defer></script>
  </head>
  <body>
    <div class="app-outlet">
      <header class="navbar-header">
        <div class="nav-head">
          <div class="nav-head__logo">
            <a href="#" class="navbar-logo"
              >⛪ <span class="navbar-logo__text">Find My Church</span></a
            >
          </div>
        </div>
        <div class="nav-content">
          <nav class="nav-head__nav">
            <ul class="nav-head__items">
              <li class="nav-link"><a href="/">Home</a></li>
              <li class="nav-link"><a href="#">Churches</a></li>
              <li class="nav-link"><a href="/create-form">Create</a></li>
              <li class="nav-link"><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="churches-content">
        <div class="churches-content__header">
          <h1 class="churches-content__title">
            Veja todas as igrejas na sua região!
          </h1>
        </div>
        <div class="churches-content__main">
          <div class="churches-content__list">
            <ul class="churches-content__list-items">
              ...
            </ul>
          </div>
        </div>
      </main>
      <footer class="churches-page__footer">
        <p>UNIVESP © 2024 - PJI110 - Turma002 - DRP04</p>
      </footer>
    </div>
  </body>
</html>
